@import "tailwindcss";
@import "./theme/light.css";
@import "./theme/dark.css";

:root {
  --layout_one-header-height: 64px;
  --layout_one-sidebar-width: 256px;
  --layout_one-content-height: calc(100vh - var(--layout_one-header-height));
  --layout_one-content-width: calc(100% - var(--layout_one-sidebar-width));

  --layout_two-header-height: 64px;
  --layout_two-sidebar-width: 256px;
  --layout_two-content-height: calc(100vh - var(--layout_two-header-height));
  --layout_two-content-width: calc(100% - var(--layout_two-sidebar-width));

  --layout_three-header-height: 64px;
  --layout_three-content-height: calc(100vh - var(--layout_three-header-height));
  --layout_three-content-width: 100%;
}

#root {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* 添加类至base 图层 */
@layer base {

}

/* 添加类至components 图层 复杂类 */
@layer components {
  .layout-aside {
    background-color: var(--color-bg-aside);
    color: var(--color-text);
    transition: background-color 0.2s ease-in-out;
    box-shadow: var(--shadow-aside);
  }
  .layout-header {
    background-color: var(--color-bg-header);
    color: var(--color-text);
    transition: background-color 0.2s ease-in-out;
    box-shadow: var(--shadow-header);
  }
  .layout-main {
    background-color: var(--color-bg-main);
    color: var(--color-text);
    transition: background-color 0.2s ease-in-out;
  }
}